<!-- Services Section -->
    <section id="especialidades">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestras especialidades</h2>
                    <h3 class="section-subheading text-muted">Hacemos todo tipo de tapizados al gusto para los clientes más exigentes.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fas fa-couch"></i>
                        <i class="fas fa-couch fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sofás</h4>
                    <p class="text-muted">Tapizamos todo tipo de sofás con la tela que quieras. Nos gustan los retos así que no dudes en traer el tuyo.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fas fa-motorcycle"></i>
                        <i class="fa fa-chair fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sillas</h4>
                    <p class="text-muted">Dale un toque nuevo a tu comedor o sala de estar con unos tapizados renovados y a conjunto con toda tu estancia.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-motorcycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Asientos</h4>
                    <p class="text-muted">Sabemos que una de las partes más importantes para que un vehículo luzca bien son sus tapizados. ¿A qué esperas para que revitalizamos el tuyo?</p>
                </div>
            </div>
        </div>
    </section>